* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
    min-height: 100vh;
    background-color: white;
}

.header {
    background: #000;
    padding: 20px;
    margin-bottom: 40px;
}

.logo img {
    height: 24px;
    display: block;
}

.form-container {
    max-width: 40%;
    margin: 0 auto;
    padding: 20px;
}

.title {
    text-align: center;
    font-size: 32px;
    margin-bottom: 40px;
}


.form-group {
    margin-bottom: 25px;
}

.form-label {
    display: block;
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: bold;
}

.form-input {
    width: 100%;
    padding: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.submit-btn {
    width: 100%;
    padding: 10px;
    background: #000;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 23px;
    cursor: pointer;
    margin-top: 32px;
}

.submit-btn:hover {
    opacity: 0.85;
}

.login-link {
    display: block;
    text-align: center;
    margin-top: 20px;
    color: #2970ff;
    text-decoration: none;
    font-size: 16px;
}

.login-link:hover {
    text-decoration: underline;
}

.error {
    color: red;
    font-size: 14px;
    margin-top: 5px;
}

@media (max-width: 850px) {
    .header {
        padding: 15px 20px;
        margin-bottom: 35px;
    }

    .logo img {
        height: 20px;
    }

    .form-container {
        max-width: 70%;
    }

    .title {
        font-size: 28px;
        margin-bottom: 35px;
    }

    .form-label {
        font-size: 19px;
    }

    .form-input {
        padding: 15px;
    }

    .submit-btn {
        font-size: 22px;
        padding: 12px;
        margin-top: 30px;
    }
}

@media (max-width: 767px) {
    .header {
        padding: 15px 20px;
        margin-bottom: 30px;
    }

    .logo img {
        height: 16px;
    }

    .form-container {
        max-width: 90%;
    }

    .title {
        font-size: 28px;
        margin-bottom: 30px;
    }

    .form-label {
        font-size: 18px;
    }

    .form-group {
        margin-bottom: 20px;
    }

    .form-input {
        padding: 14px;
    }

    .submit-btn {
        font-size: 20px;
        padding: 14px;
        margin-top: 20px;
    }

    .login-link {
        font-size: 15px;
    }

    .error {
        font-size: 13px;
    }
}